[2021-11-18 12:38] wouterdorgelo opened #3 "How do I find the user in event listeners?"
Using listeners I want to log all events in a database.

Here is an example of my `LogFirstPaymentPaid` listener:

[code]

How do I get the current user in my `handle()` method from the `$event`? I remember from a tutorial that using `Auth::user()` is a bad idea when queueing event listeners.

[2021-11-18 15:00] RicLeP opened #4 "receipt_old view unneeded?"
Hello, it looks like the `laravel-cashier-mollie/resources/views/receipt_old.blade.php` isn’t needed and has sneaked in by mistake.

[2021-11-19 08:11] pepijndik commented on #3
HI check
https://github.com/mollie/laravel-cashier-mollie/blob/ef84f1003a0596f028caf6eda1ce19f2373025de/src/Events/FirstPaymentPaid.php
the event class, in here you can see that there are two main public objects available payment and order

[FirstPayment/FirstPaymentBuilder.php ](https://github.com/mollie/laravel-cashier-mollie/blob/ef84f1003a0596f028caf6eda1ce19f2373025de/src/FirstPayment/FirstPa

[2021-11-19 11:52] #3 closed

[2021-11-22 09:50] JelleVanDerMeulen opened #5 "Wrong property name locale in cashier.php config"
In the config the propertyname is called "locale" but in code the the name is "currency_locale"

[2021-11-22 09:52] JelleVanDerMeulen opened #6 "Refunds: order_id or original_order_id??"
De refund table has 2 order_id columns. Which one is used? order_id is used in the refunds relation in the Order model. original_order_id is used in the RefundBuilder. Seems like a bug.

[2021-11-22 09:54] JelleVanDerMeulen opened #7 "Wrong amount inserted in refunds"
Debug shows that the amount inserted in the refund table is written as a string (ex: "18.15"). This result in is a wrong amount of 18 where it should be 1815.

[2021-11-22 12:47] sandervanhooft commented on #6
Not a bug. A refund is performed on an original order and generates a new credit order.

[2021-11-22 12:47] #6 closed

[2021-11-22 15:56] JelleVanDerMeulen commented on #6
It seems like order_id doesn't get filled anywhere. You never get any refunds back form an existing order. There is no relation between order and refund based on the field original_order_id.

[2021-11-22 16:27] sandervanhooft commented on #7
Hi @JelleVanDerMeulen !

Can you share some code so we can reproduce the issue?

[2021-11-22 16:49] sandervanhooft commented on #6
The credit order gets created once the refund is processed by Mollie. That can take anywhere between some hours and days.

Also note that Mollie's test mode doesn't support this completely: the refund will not get marked as fully processed but remain pending indefinitely.

[2021-11-23 08:21] JelleVanDerMeulen commented on #7
// first we create a subscription
$result = $eenheid->newSubscription($name, $plan)
                ->quantity(10)
                ->create();
// payment is inserted with amount as integer value
insert into `payments` (`mollie_payment_id`, `mollie_payment_status`, `owner_type`, `owner_id`, `currency`, `amount`, `amount_refunded`, `amount_charged_back`, `mollie_mandate_id`, `first_payment_actions`,

[2021-11-23 09:59] RicLeP opened #10 "GBP Coupons: Laravel\Cashier\Exceptions\CurrencyMismatchException"
I’m getting this error with GBP coupons. Making subscriptions without a coupon works fine but applying it causes an error. All I’ve really done is change the currency to `GBP` in the three published config files.

[code]

[code]

[code]

[code]

[code]

[2021-11-23 10:12] cwwdevelopment opened #11 "Webhook URL for ChargeItem"
Hey,
thanks for the new Version.

i have one Question is ist possible to add a different webhook_url for new \Laravel\Cashier\Charge\ChargeItemBuilder($user);?
And can we send metadata within this function?

greetings

[2021-11-23 15:34] ciungulete commented on #4
Yes, I remove this file from the package.
https://github.com/mollie/laravel-cashier-mollie/pull/9

[2021-11-23 16:22] ciungulete commented on #11
Hello,
It is not possible

[2021-11-23 16:42] #4 closed

[2021-11-23 17:58] ciungulete commented on #7
Hi @JelleVanDerMeulen,

Solved after #13  will be merged

[2021-11-23 22:13] ciungulete commented on #10
Hi @RicLeP,
You can solve using this
[code]
 in `AppServiceProvider`

[2021-11-24 10:18] #11 closed

[2021-11-24 11:45] magosla opened #14 "Order owner_id different from User id"
After a payment I noticed the list of orders returns null for the user.  The order table have a different value for the owner_id while the payments table has the actual owner_id. Below is an example

[code]

[2021-11-24 13:25] sandervanhooft commented on #10
Thanks @ciungulete !

@RicLeP let us know how this works out for you!

[2021-11-24 13:31] sandervanhooft commented on #7
Thanks guys!

Released here: https://github.com/mollie/laravel-cashier-mollie/releases/tag/v2.0.1

[2021-11-24 13:31] #7 closed

[2021-11-24 13:34] sandervanhooft commented on #14
Thanks for reporting @magosla .

May be an issue with using the uuids, we don't test for these, as they're not used by default. We'll look into it.

[2021-11-24 13:37] sandervanhooft commented on #14
@magosla have you set a custom `primaryKey` on the user model by any chance?

[2021-11-24 15:44] RicLeP commented on #10
This worked perfectly.

I also noticed I could add a currency key to my Cashier config:

[code]

Not sure if this does the same internally but might be easier for people to understand when implementing - everything is handled in the config files.

[2021-11-24 15:44] #10 closed

[2021-11-24 15:54] sandervanhooft commented on #14
@ciungulete I suspect this is caused by the new int cast on the owner id. Can you take a look?

[2021-11-24 16:09] magosla commented on #14
The owner_id field for the orders table has its type as CHAR 32

[2021-11-24 18:17] ciungulete commented on #14
Solved here #16.

Also need to use  `protected $keyType = 'string';` in your billable model

[2021-11-24 18:59] sandervanhooft commented on #14
@magosla Can you confirm the current main branch works for you?

[2021-11-25 09:00] sandervanhooft commented on #14
Fixed in `v2.0.2` ([link](https://github.com/mollie/laravel-cashier-mollie/releases/tag/v2.0.2))

[2021-11-25 09:00] #14 closed

[2021-11-25 15:59] magosla commented on #14
Yes it has been fixed, Thanks

[2021-11-25 19:49] sandervanhooft commented on #5
Hi @JelleVanDerMeulen,

Can you point us to the specific pieces of code you're referring to?

[2021-12-02 13:52] nipeco opened #17 "No suitable payment methods found"
Hey there,

I am trying to create a subscription with the following code:

[code]

But I always get the following error message:
`Error executing API call (422: Unprocessable Entity): No suitable payment methods found.`

I have confirmed payment methods in my account and use the test api key. Everything is set up according to your installation guide. Do I miss some additional configuration in Lara

[2021-12-02 13:59] JelleVanDerMeulen commented on #17
I just expecienced this issue aswell. The payment method has an orange status on the mollie dashboard. You can try to disable and enable the payment method. Mollie gets an event an will contact you if necessay. I know that they are very busy. It took me several days to complete.

Van: Niels ***@***.***>
Verzonden: donderdag 2 december 2021 14:52
Aan: mollie/laravel-cashier-mollie ***@***.***>
CC:

[2021-12-02 14:07] sandervanhooft commented on #17
That's correct! Also, in test mode, any payment method you enable in the mollie dashboard should be available instantly.

[2021-12-02 14:07] #17 closed

[2021-12-02 15:46] magosla opened #18 "Subscription renewed without a paid payment transaction"
When cashier tries to renew multiple subscription, The error below is logged.

Also, the payment status is left open or pending but the subscription is renewed when the payment is yet to be paid.

[code]

[2021-12-02 17:18] MollieRick commented on #18
@sandervanhooft Rate Limit! Maybe we can stop creating payments then, wait for a minute, and start again?

[2021-12-03 12:18] sandervanhooft commented on #18
Hi! Rate limiting would definitely be desirable here, in combination with a queue. We will look into that.

Also: if you run `cashier:run` more frequently the list of payments will be shorter on each run, making it less likely to hit Mollie's rate limit.

[2021-12-03 12:19] sandervanhooft commented on #18
This is by design, subscriptions are renewed optimistically, as it can take days for the payment to clear.

[2021-12-04 02:34] magosla commented on #18
This is clear to me. Thanks!

[2021-12-05 08:19] marijnbent opened #20 "Call to a member function preprocessOrderItem() on null"
When running `cashier:run`, I'm getting the error below. This is with running the command with `-vvv`. Is there any way to figure out which subscription/order this is about?

[code]

[2021-12-06 03:45] marijnbent commented on #20
Alright, my bad. The subscription the order_item was linked to was (soft) deleted. That caused the problems.

[2021-12-06 03:45] #20 closed

[2021-12-06 10:39] sandervanhooft commented on #20
Interesting nevertheless, thanks for following up!

[2021-12-06 11:09] MrMooky opened #22 "Wrong Webhook URL?"
We just switched the Test-Key with the Live-Key and tested a first payment. Everything went fine while using the Test-Key. But now with the Live-Key, the webhooks seem to not work correctly in the first place.

It took a while (7 minutes) for the webhooks to be send. I know that this is not really in the scope of this package. The actual question is regarding another log in the transaction.

It sa

[2021-12-06 11:15] sandervanhooft commented on #22
What events is Mollie's dashboard showing for this payment?

[2021-12-06 11:18] MrMooky commented on #22
Apparently, the correct ones:

<img width="847" alt="Screenshot 2021-12-06 at 12 17 49" src="https://user-images.githubusercontent.com/3603346/144837092-c561cbcd-f537-4d03-8006-618c53431271.png">

[2021-12-06 11:25] MrMooky commented on #22
Same for the `first_payment` > `redirect_url`:

![cashier-mollie](https://user-images.githubusercontent.com/3603346/144837885-f0874b1b-b638-4b12-a63c-fb35f45ad2db.jpg)

[2021-12-06 11:28] sandervanhooft commented on #22
So what's your question? 😀

[2021-12-06 11:33] sandervanhooft commented on #22
That "Aktualiseren Sie..." reads like an imperativus, but I think it's meant as "webhook url was updated". Bad translation? My German is lacking...

[2021-12-06 11:34] MrMooky commented on #22
I wanted to know if this is expected behaviour as it seems like a wrong endpoint?  Why is the webhook url `aftercare` and not `first-payment` as stated in the `cashier.php`? Mollie or Cashier clearly makes a redirect or anything...

Having live payments with webhook messages I cannot retrace myself is not that funny to me.

[2021-12-06 11:35] MrMooky commented on #22
It would translate to "Please update your url redirect from a to b".

[2021-12-06 11:36] sandervanhooft commented on #22
Yeah I thinkt that German text is seriously misguiding, I'll contact Mollie about this.

Rest assured the webhook url update is correct behavior. 👍

[2021-12-06 11:38] MrMooky commented on #22
Ok, that's just what I wanted to hear. Thanks. :)

[2021-12-06 11:38] #22 closed

[2021-12-06 11:40] MrMooky commented on #22
I just switched the dashboard from German to English and yeah, it says "Updated the webhook URL from ...". The German translation is just misleading.

[2021-12-06 11:40] sandervanhooft commented on #22
No problem, thanks for reporting! Enjoy!

[2021-12-06 14:09] jpmannee opened #24 "Scheduled order items are not deleted when swapping plans"
When I swap the plan of a subscription a new scheduled order item is added for the subscription.
But the previous scheduled order item(s) are not deleted.
The items that are not processed yet should be deleted, right?

[2021-12-07 08:07] marijnbent commented on #20
Just so others can debug this in the future, I was logging the order_item the command was processing at the time of the exception by running the following:

[code]

With the information dumped (or logged or whatever) you can debug the problem.

[2021-12-07 13:59] jpmannee commented on #24
Never mind, don't know why it wasn't working yesterday, but it's working as expected now.

[2021-12-07 13:59] #24 closed

[2021-12-09 14:40] jpmannee opened #25 "nextPaymentAt doesn't work"
I'm creating a subscription for a first payment like this:

$result = $user->newSubscription($name, $plan)
    ->quantity($quantity)
    ->nextPaymentAt($nextPayment)
    ->create();

The quantity is set to the passed $quantity variable, so that works.

The subscription has a period of 3 months and the $nextPayment variable is 2 months in the future.
I expect the upcoming payment for the created s

[2021-12-13 16:26] #18 closed

[2021-12-13 16:28] sandervanhooft commented on #5
Closing this for now, let me know if it should be reopened.

[2021-12-13 16:28] #5 closed

[2021-12-14 01:55] marijnbent opened #29 "Object of class Money\Money could not be converted to int on /webhooks/mollie/aftercare"
The entire error:
https://flareapp.io/share/Lm8EKbjP#F51

[code]

The value of the payment id for both amount_refunded as for amount_charged_back in the database is 0.

[2021-12-14 17:10] magosla commented on #29
I also encountered the same issue
[code]

[2021-12-15 10:19] Mul-tiMedia commented on #29
I have created a pull request to address this problem. @sandervanhooft  can you merge this?
We also encountered the same problem in production.

[2021-12-15 12:15] ciungulete commented on #29
I think we can close this. Let me know if it should be reopened.

[2021-12-15 12:27] sandervanhooft commented on #29
Thanks for reporting this! A fix has just been released in [2.0.3](https://github.com/mollie/laravel-cashier-mollie/releases/tag/v2.0.3).

Thanks @Mul-tiMedia for the patch!

[2021-12-15 12:54] Mul-tiMedia commented on #29
@ciungulete @sandervanhooft this one can not be closed, i overlooked something.
https://github.com/mollie/laravel-cashier-mollie/blob/1dd0b88caa43b1580756201b313932edee5a2e87/src/Http/Controllers/AftercareWebhookController.php#L41
See above line, this is now giving an error `Unsupported operand types: stdClass - int`

I think the fix would be:
[code]

Except i don't like the length of the string.

[2021-12-15 13:46] sandervanhooft commented on #29
I'm on the road right now, I'll take a look tomorrow. @ciungulete feel free to beat me to it 😄

[2021-12-16 20:03] sandervanhooft commented on #29
I've just verified this patch works, preparing release patch now.

[2021-12-16 20:14] sandervanhooft commented on #29
All done! 🚀

https://github.com/mollie/laravel-cashier-mollie/releases/tag/v2.0.4

Enjoy!

[2021-12-16 20:14] #29 closed

[2021-12-17 10:04] Mul-tiMedia opened #34 "First Payment, with existing mandate redirects to mollie"
Just want to verify this logic, because in v1 this logic was working different from now in v2.

Example v1:
1. Create mandate without laravel cashier upfront.
2. start newSubscription()->create();
3. Subscription created and transaction started within mollie by directdebit (through cashier:run)

Example v2:
1. Create mandate without laravel cashier upfront.
2. start newSubscription()->create();
3.

[2021-12-22 15:35] vdBergMike opened #35 "User is credited for full plan value on swap instead of firstPaymentAmount"
We are using Laravel Cashier Mollie for our project but running into some trouble with a quite unique use-case.

1. A new User is offered 2 paid plans, both with a FirstPaymentAmount to get a mandate and to provide our new User with a discount for the trial-period.
2. Once the Subscription is activated, a user gets the possibility to swap to a next plan (because a plan corresponds with credits and

[2021-12-23 16:45] sandervanhooft commented on #35
Is using a generic trial an option?

https://www.cashiermollie.com/03-trials.html#without-mandate-upfront

[2021-12-23 16:48] sandervanhooft commented on #35
Anyway, nice edge case / find. I have to double check this.

Can you confirm that you were expecting the following behavior:

_when swapping plans during a trial, no prorating and no credits should be applied to the billable's account._

[2021-12-23 17:02] sandervanhooft commented on #34
Hi @Mul-tiMedia,

Without valid mandate cashier will not create a new subscription without going through Mollie's checkout. Once the payment reaches status paid, Cashier's webhook gets called, and then the Subscription is created. That behaviour has not changed between v1 and v2, except for that the Payments are now also tracked in db.

1. What do you get when you run `$billable->validateMollieMan

[2021-12-24 08:21] Mul-tiMedia commented on #34
Hi @sandervanhooft

I understand your reply, except our workflow is different than you wrote about.
We create a valid mandate without laravel cashier. We do this by calling api calls to mollie directly. Because we dont want our customers to make a first payment of a few cents. We let our customer check a box and then we create a valid mandate upfront.

Then the situation is as following: We have a

[2021-12-24 09:28] sandervanhooft commented on #34
I understand the use case, but I think `MandateMethod:: getForFirstPaymentMethod()` should throw an exception when passed `directdebit`, because that is not a valid first payment method. Fixing that will avoid a lot of confusion.

[2021-12-24 10:23] Mul-tiMedia commented on #34
@sandervanhooft  i agree, directdebit should not be passed as the first payment option.
But in our case i have to do it to pass the if else statement:
https://github.com/mollie/laravel-cashier-mollie/blob/741f51b035e77461fc7e16168ad548404c0732be/src/Billable.php#L84

![Screenshot 2021-12-24 at 11 20 46](https://user-images.githubusercontent.com/12711809/147344519-0b0c240d-7dc4-4dc8-a52f-4853c38e3e

[2021-12-27 11:50] vdBergMike commented on #35
Hi Sander, thanks for your fast response!

I can confirm the behaviour:
"when swapping plans during a trial, no prorating and no credits should be applied to the billable's account."
But we use the trial in a different way (perhaps incorrectly).

**To clarify my use-case and what we want to achieve:**
We would love to offer our users a one-time discount. Currently we use the `->trialUntil()` becau

[2021-12-28 09:35] Mul-tiMedia commented on #34
So i did some digging. And i think this issue can be closed.

Except, i think we should add a paragraph to the documentation part of upgrading from v1 to v2.
That if you are creating your own valid mandates upfront without cashier, you have to set the `cashier.first_payment.method` to a valid payment method. Like `ideal` or `creditcard`.
Because it's default set to `null` (empty array). And theref

[2021-12-28 13:04] sandervanhooft commented on #34
Thanks for following up!

Manually setting the mandate is not officially supported by Cashier (v1 nor v2), so it would only be confusing to include it in the upgrade documentation. I'll keep an eye out to see if we need to detail it somewhere else.

[2021-12-28 13:04] #34 closed

[2021-12-29 13:36] wiwa1978 opened #36 "One-time charge complaining about webhook URL"
Building a Laravel app with one time charge. I use the following code, based upon [this](https://www.cashiermollie.com/04-charges.html#one-time-charges) doc.
[code]
In the `config/cashier.php` I have set the `webhook_url`. In my case it points to an expose tunnel (similar to ngrok).

[code]
The tunnel is working. The webhooks/mollie route is also existing and is being handled by the controller.

I

[2021-12-29 19:22] core45 opened #37 "Feature request: subscriptions from DB"
Is it possible to load cashier plans not from the cashier_plans.php but from the database?

[2021-12-29 20:49] sandervanhooft commented on #37
Here you go: https://www.cashiermollie.com/12-faq.html#how-can-i-load-coupons-and-or-plans-from-the-database

[2021-12-29 20:49] #37 closed

[2021-12-30 08:59] Mul-tiMedia commented on #36
As far as I can see it uses the `cashier.first_payment.webhook_url` instead of `cashier.webhook_url`. Could you verify this?

[2021-12-30 21:11] core45 opened #38 "Plan name is not changed while swapping"
A couple of weeks ago I did a pull request with small change in Subscription class.
It was this one:  While swapping plans the name should be also changed (not only 'plan' attribute/db column)

It's been accepted. I can see it in the code on the GitHub but when I update the package (or do fresh install) it's not there.
I really need it working.
Do I do something wrong?

I'd also be very honored if

[2021-12-31 08:56] Mul-tiMedia commented on #38
Hi @core45 i looks like the version number has not been bumped. @sandervanhooft

you could try using `dev-master` as version in your composer to get the latest commits.

You are not listed in the contributors page because your commits are not related to your GitHub account. It’s `core45@someip` instead of a commit with your e-mail address..

[2022-01-02 00:40] divdax opened #39 "orders table already exists"
I already have an orders table in my project. Any chance to change the `Order` model table name from this package? Used models should always be defined in a config so we can swap them with our own to customize it.

[2022-01-02 10:31] sandervanhooft commented on #39
Currently no. Feel free to submit a PR.

[2022-01-02 10:32] #39 closed

[2022-01-03 07:48] sandervanhooft commented on #38
Here you go!

https://github.com/mollie/laravel-cashier-mollie/releases/tag/v2.0.5

[2022-01-03 07:48] #38 closed

[2022-01-03 08:08] sandervanhooft commented on #36
@wiwa1978 you can try this to help you debug and get a quick overview:

[code]

One thing that I've noticed in the past is that if you switch the app url in `.env` to the tunnel's address, and then point the browser to for example `http://localhost:8080/mollietest`, Laravel uses the localhost address as the app url. This results in a local - unreachable - webhook address. You can prevent this by p

[2022-01-04 13:13] sandervanhooft commented on #36
Closing this for now, let me know if it should be reopened.

[2022-01-04 13:13] #36 closed

[2022-01-04 13:15] sandervanhooft commented on #35
Thanks for the detailed description @vdBergMike ! I'll look into this with the team and get back to you.

[2022-01-04 15:51] wiwa1978 commented on #36
Found the issue: for future reference, here's what I did:
- change the APP_URL in the .env file to the tunnel endpoint (e.g. https://13uls2e2tc.sharedwithexpose.com in the example above.
- despite this change in the .env file, Laravel does not use this tunnel endpoint in the URL. Instead it always keeps using http://localhost:8000. So added the following in the `AppServiceProvider` (to force Larav

[2022-01-04 17:54] sandervanhooft commented on #36
Suoer nice find, thanks for following up!

[2022-01-08 14:24] JelleDamen commented on #35
Hey @sandervanhooft I was wondering if you have any update on this issue :) ?

[2022-01-09 14:21] bartbergmans opened #40 "Billable subscriptions method returns all subscriptions"
When I call the `subscriptions()` method in my Billable model (the current logged in user) it returns all the subscription of all the users instead of just the ones belonging to the owner.

Is this expected behavior and should I make a custom method that only returns the subscriptions that belong to the given Billable?

[2022-01-10 09:45] jpmannee commented on #25
Hi Sander and/or ciungulete,

is there any update on this issue?

Thanks,
JP

[2022-01-11 09:32] ag84ark commented on #40
Hi @bartbergmans,
I have created a test project with 2 users, each subscribed to the same plan.
When trying to get the subscriptions for each user, I always get just the subscription of that user.

Can you try this code in tinker and see what you get:
[code]
also, I tried the code below and got only the user subscription
[code]
Try to look at the “owner_type” and “owner_id” in the results from the

[2022-01-12 07:38] sandervanhooft commented on #25
Looking into it. First guess is that this should only be available on mandated payments, not on the first payment / starting a new subscription without (valid) mandate.

[2022-01-12 11:45] voicecode-bv opened #41 "Feature request: Add payment details on renewal webhook"
Hi there,

As I'm implementing this package in my project, I noticed the FirstPaymentPaid and OrderPaymentPaid payloads are different.

When handling a FirstPaymentPaid event, there's a payment object found in the event payload. It seems like it's missing in the OrderPaymentPaid event payload. This is very useful to have, especially when using multi currency as Mollie would return a settlementAmou

[2022-01-12 12:14] sandervanhooft commented on #41
Clear use case, thanks!

The Mollie Payment object on `FirstPaymentPaid` is actually considered to be v1 legacy.

On `OrderPaymentPaid`, it's possible to retrieve the Order. Then, you could do this:

[code]

Hope that helps!

If you know of a better way, feel free to suggest/submit a PR.

[2022-01-12 12:14] #41 closed

[2022-01-16 13:23] bartbergmans commented on #40
Ah.. I'm stupid. I had the following code to get the subscriptions:
[code]
The `subscriptions()` call works perfect, but I messed up with the `orWhere()`.
Thanks a lot for your help, fixed my query and it works now!

[2022-01-16 13:23] #40 closed

[2022-01-16 18:00] ag84ark commented on #40
Hi @bartbergmans, very glad to see that you found your problem.
It happens to all of us, things like this. Glad I could help a little.

[2022-01-18 11:00] ciungulete commented on #25
Hi @jpmannee,

We solve it https://github.com/mollie/laravel-cashier-mollie/pull/42

[2022-01-18 11:03] #25 closed

[2022-01-18 11:05] sandervanhooft commented on #25
Here's the release: https://github.com/mollie/laravel-cashier-mollie/releases/tag/v2.0.7

Enjoy!

[2022-01-18 15:32] RicLeP opened #44 "Can’t determine if a subscription is current"
I’ve created a plan like so:

[code]

And subscribed a User resulting in:

[code]

In my index.php I’ve added `\Carbon\Carbon::setTestNow(now()->addYears(3));` to set the application beyond the end of the annual subscription period.

However the subscription is still shown as valid.

[code]

[code]

Have I set something up wrong or am I misunderstanding how the subscription checking works?

[2022-01-18 17:02] sandervanhooft commented on #44
The subscription is valid until it's cancelled. Are you maybe thinking of the billing cycle instead? 🤔

[2022-01-18 17:02] #44 closed

[2022-01-19 11:49] RicLeP commented on #44
This is for an annual membership. I think I understand how it works now - Mollie will always auto renew the payment by default so there is never any ‘expired’ date. The cancel membership (renewals) the user has to explicitly choose to do so.

In theory I could cancel any memberships that reach their `cycle_ends_at` date and email the user asking if they want to continue their membership if I wante

[2022-01-19 12:31] sandervanhooft commented on #44
It will be expired once the subscription's end_date has passed. This field gets filled when the subscription is cancelled and offers a grace period until the end of the billing cycle during which the subscription is still valid. During this grace period it's still possible to resume the subscription.

This means that for your use case you could proactively cancel the subscription after the payment

[2022-01-25 12:41] tobischulz opened #45 "Directdebit subscriptions with mandat up front"
Hello,

I`m upgrading from v1 and got problems with a manually created directdebit mandat with the mollie api and creating a subscription with that. Handling that like described here: https://github.com/laravel/cashier-mollie/issues/164#issuecomment-598798227

## Mollie API Exception

The **sequenceType** is set to **first** on default i guess.

## How i create a directdebit mandat
![creatingmanda

[2022-01-25 15:24] tobischulz commented on #45
So i updated the config/cashier.php file and added the **directdebit** method to the *first_payment.method* array. After that the payment works and the subscription was successfully created in database. After cashier:run the order was created as well. Am i doing it right? :-)

[2022-01-25 20:17] sandervanhooft commented on #45
Hi @tobischulz !

"Geschafft!" Looks like it!

[2022-01-25 20:17] #45 closed

[2022-01-25 20:21] sandervanhooft commented on #35
It's a tricky one. I am still looking into it.

[2022-01-25 21:12] sandervanhooft commented on #35
@vdBergMike @ciungulete

How about this approach for enhancing the prorating calculation:

 In essence:

1. Get the most recently paid Order for the Subscription.
2. Then, take the `unit_price` of this specific Subscription's OrderItem.
3. MINUS any Coupons applied to this specific Subscription in the same Order. Meaning: Coupons generate additional OrderItems on the Order - subtract these items `

[2022-01-25 21:27] vdBergMike commented on #35
@sandervanhooft

Thanks for the reply!
This should be the exact expected behaviour or the prorating method.

In the other hand, shouldn't it be easier to implement the same methods as Laravel Cashier provides out of the box?
(https://laravel.com/docs/8.x/billing#prorations),

Where one can define what type of prorating should be used, if any, or no prorating at all.

[2022-01-25 21:45] sandervanhooft commented on #35
Thanks for confirming @vdBergMike !

From a design / dev experience perspective: yes. From an implementation perspective: probably not. Maybe on a future major release as I suspect it will involve a breaking change. But feel free to prove me wrong anytime :).

Also note that even if we introduce methods such as `noProrate()`, I'd still consider the behaviour I just described the best default when

[2022-01-25 21:51] vdBergMike commented on #35
Agree on that! Would love to add it as a feature request :)

[2022-02-04 17:00] nicolaibaaring commented on #39
I just completed changes that solve this issue by making all the models configurable. I will submit a PR soon.
It doesn't change any existing behavior and current tests are passing. The addition is covered by tests too.

[2022-02-04 19:11] nicolaibaaring opened #46 "Non-static method Model::findOrFail() cannot be called statically"
I get this error on the FirstPaymentHandler, when the webhook makes its call back to the app after the first payment.
I'm sure this works for most people, since there is no issue regarding this already. I my case, the Billable model is extended from a base model and that seems to cause the error, even though all the references to the model are stored correctly.

The full error is:
Non-static metho

[2022-02-08 09:13] sandervanhooft commented on #35
Hey @vdBergMike,

We went over this again while working on some patches. We noticed this:

How about `->swap()->skipTrial()` instead (so swapping before ending the trial)? That way there is no prorating applied. Does that solve (part) of your problem?

[2022-02-09 09:08] RicLeP opened #50 "One time charge - set redirect URL"
Is it possible to set the redirect URL for one time charges. For plans this can be set in the `cashier_plans` config. Something similar for one time changes would be great.

[2022-02-14 13:10] #46 closed

[2022-02-14 19:46] sandervanhooft commented on #35
@vdBergMike can you elaborate on my previous comment?

[2022-02-17 13:13] pepijn-hockers opened #51 "Providing monthly and yearly plans"
I'm currently working on a platform and we want to integrate Laravel Cashier Mollie for our subscription plans. Let's assume we provide three different **monthly** plans:

- Plan One ($25)
- Plan Two ($75)
- Plan Three ($150)

However, we want provide the same plans on **yearly** interval as well.  Im currently running into a design decision and I'm curious about your opinions.

Should I extend th

[2022-02-17 13:57] #51 closed

[2022-02-17 14:32] sandervanhooft commented on #35
Closing this for now, let me know if it should be reopened.

[2022-02-17 14:32] #35 closed

[2022-02-18 14:09] esistgut opened #53 "Connect support"
Does this package support [Mollie Connect](https://docs.mollie.com/connect/overview)?

[2022-02-18 15:51] sandervanhooft commented on #53
No :)

[2022-02-18 15:51] #53 closed

[2022-02-19 14:15] vollit opened #54 "Deprecated : Return type of Money\Money::jsonSerialize()"
Hello,

After installing the new version of the package i get this message on PHP 8.1.

Laravel: 8.40
Laravel-cashier-mollie: 2.0
PHP: 8.1

[code]
Does anyone know how to fix this ?

[2022-02-21 10:55] pepijn-hockers opened #56 "Metadata to config.cashier_plans"
Is it possible to add metadata such as features to the config.cashier_plans?

[2022-02-21 11:00] sandervanhooft commented on #56
Hi! No, sorry, but it isn't. It also would involve a breaking change, so in the current version it will not be added. I'll put it on the list of ideas for v3.

Optionally you can try and override the PlanRepository and return something like a CustomizedPlan, extending the default Plan. And carry the metadata in that CustomizedPlan.

[2022-02-21 11:00] #56 closed

[2022-02-21 11:06] pepijn-hockers commented on #56
Thanks for the recommendation and quick answer!

[2022-02-21 11:40] sandervanhooft commented on #54
Thanks for reporting @vollit !

This is an issue with moneyphp combined with php 8.1. We'll need to upgrade moneyphp on our end to 4.0.3 to fix this.

[2022-02-21 12:39] #54 closed

[2022-02-22 12:34] vollit opened #58 "Php 8.1 issue "Deprecated: Return type of Money\Currencies\ISOCurrencies::getIterator() ""
Deprecated: Return type of Money\Currencies\ISOCurrencies::getIterator() should either be compatible with IteratorAggregate::getIterator(): Traversable.

Laravel: 8.40
Laravel-cashier-mollie: 2.0
PHP: 8.1

I think this is another PHP 8.1 issue.

[2022-02-22 13:11] core45 opened #59 "$user->subscribedToPlan('plan_name') does not work"
A while ago we where discussing plan swapping. In the discussion in my pull request user ronald184 said:

[code]

The thing is that it does not work (or I'm doing something wrong).
So:

In the DB in subscriptions table I have a record:
id | name | plan | owner_type | owner_id | next_plan | quantity ...
3 | standard | standard | App\Models\User | 3 |NULL | 1 ...

now I'm trying to check the subscri

[2022-02-23 09:34] pepijn-hockers opened #60 "Adding order ID to the redirectUrl"
![image](https://user-images.githubusercontent.com/85340650/155292603-63b14e73-246a-4e06-a993-f9ef90696dd0.png)

## Problem
I investigated the package because we are considering implementing Mollie. But I didn't found a solution for adding the order ID to the redirectUrl dynamically. I need this feature to make a more pleasant user experience for our customers.

## Desired situation
I want to add

[2022-02-23 13:58] sandervanhooft commented on #60
Hi @pepijn-hockers !

You can set the redirectUrl in the config file. And include `{payment_id}` to automatically insert the Mollie payment id there. You can use that to retrieve the related order through the payments table.

I think that's the quickest way to solve your problem.

Another solution would be to implement a similar solution for a {cashier_order_id} and/or {cashier_payment_id}. I'm op

[2022-02-23 13:58] #60 closed

[2022-02-24 05:21] sandervanhooft commented on #58
Looks to be similar to #54

[2022-02-24 05:24] sandervanhooft commented on #58
@vollit what's the current version of moneyphp/money you're using?

Can you try updating it to at least version `4.0.3`?

[2022-02-24 10:03] core45 commented on #59
Hi guys. Can we address this issue please? I can not swap subscriptions.

[2022-02-24 11:13] core45 commented on #59
OK i have found what was wrong.
You have to call this method and not like ronal184 falsely stated but like this $user->subscribedToPlan('standard', 'standard);

[2022-02-24 11:13] #59 closed

[2022-02-24 15:05] vollit commented on #58
I can change the version of Moneyphp/money in my own root composer.json, but then it gives me this problem. Can I ignore this, or will it break? :

[code]

[2022-02-25 10:13] vollit opened #62 "Call to undefined method App\Models\User::findInvoice()"
I can't find the function findInvoice() in the package. When I call this function on my user model, it gives me this error:

`[2022-02-25 10:49:48] testing.ERROR: Call to undefined method App\Models\User::findInvoice()`

I've been searching through the package, but can't find where the code is for this function.

In the Billable file there is a function called **downloadInvoice()** but not the **f

[2022-02-25 11:21] sandervanhooft commented on #59
👍 Thanks for following up @core45 and clearing this up!

[2022-02-25 11:23] sandervanhooft commented on #35
@vdBergMike This PR improves the reimbursement calculation: #61 .

[2022-02-25 11:34] sandervanhooft commented on #58
Can you share your complete composer.json file so we can reproduce your issue here?

[2022-02-25 12:12] sandervanhooft commented on #62
You are right! Working on a patch!

[2022-02-25 12:45] vollit commented on #58
It's a simple problem, the `'Laravel-cashier-mollie' `package wants Money  `"moneyphp/money": "^3.2",` in the composer.json. And i want to overwrite it to `4.0.3` in my own (root) composer.json.

Maybe the problem is solved when the composer.json of the package composer require changes to:  ` "moneyphp/money": "^3.2|^4.0",` Or is this not the way how it should work?

[code]

[2022-02-25 13:09] #62 closed

[2022-02-25 13:18] sandervanhooft commented on #58
Since last week, Cashier Mollie also supports MoneyPHP 4

https://github.com/mollie/laravel-cashier-mollie/blob/6842dd2b98de3b7b56e4a4030794d40e7924115a/composer.json#L41

[2022-02-25 15:01] vollit commented on #58
Thnx for the reply's, I will close this issue.

[2022-02-25 15:01] #58 closed

[2022-02-25 17:52] sandervanhooft commented on #58
No problem, enjoy!

[2022-03-02 17:22] sha1md5 opened #64 "Metered billing example"
Can anyone provide an example of implementation of metered billing?
We are trying to implement custom subscription where value depends on several user responses.
I tried use preprocessors but seems it doesn't work on first subscription payment.
Even if we modify plan price on the fly and managed get correct first payment on Mollie via config params override on subscription create, later on bd it a

[2022-03-03 08:17] sandervanhooft commented on #64
Hi @sha1md5 ,

Preprocessors are currently not supported on first payments. Easiest workaround is to first obtain a mandate through a one-off charge, then start the subscription.

[2022-03-03 08:17] #64 closed

[2022-03-04 10:57] jordysinke opened #65 "Payment property is not working on order, but is referenced in PHPDoc"
https://github.com/mollie/laravel-cashier-mollie/blob/6842dd2b98de3b7b56e4a4030794d40e7924115a/src/Order/Order.php#L48

[2022-03-09 08:23] sandervanhooft commented on #65
Seems like you're correct @jordysinke !

@ciungulete can you remove the property reference here?

[2022-03-09 09:08] Furqan311 opened #67 "Cannot create orders for one time payments."
Hi there,
I have newly started integrating cashiermollie in Laravel. As a newbie, i was a bit confused. But Laravel CashierStripe does a lot of help in understanding how things work.

The problem is aroused when integrating the onetime payment, as the payment from the mollie is successful. But cashierollie is just creating an entry inside the payments table. But the documentation says that when yo

[2022-03-09 09:54] sandervanhooft commented on #67
Hi @Furqan311 ,

An Order is created once the payment gets paid.

If you need more assistance, can you provide a code sample to reproduce the issue, and describe the behavior you're seeing in Mollie's dashboard?

[2022-03-09 10:04] Furqan311 commented on #67
Thank you for replying,

The code is:
[code]

And inside the mollie dashboard, i am getting paid payments. But cashier is not doing anything when I run `cashier:run`, it says 0 Orders created.

![Screenshot from 2022-03-09 15-00-56](https://user-images.githubusercontent.com/22428696/157418857-9b06ce88-ab56-489f-a512-43e2897123e7.png)

The screenshot i attached is from mollie dashboard.

[2022-03-10 13:44] sandervanhooft commented on #67
Hi @Furqan311 ,

Thanks for following up.

Once the payment  at Mollie reaches status `paid`, Mollie calls your Cashier webhook url. Cashier then processes the Charge into an Order.

The Mollie dashboard currently shows on the right side of the screen that Mollie cannot reach your webhook (status 404).

[2022-03-10 13:51] Furqan311 commented on #67
Yes you are right, the reason is i am working on localhost. But then i simulates a manual request via curl To check if the webhook being called. But nothing works.

I am using controller from Cashier's WebhookController, but same issue.

[2022-03-10 14:29] sandervanhooft commented on #67
1. When testing, are you pointing your browser to the ngrok generated url?
2. Did you update APP_URL in your env file to the gnrok generated url?

[2022-03-10 14:29] sandervanhooft commented on #67
Can you check your Laravel logs?

[2022-03-13 11:25] ciungulete commented on #65
https://github.com/mollie/laravel-cashier-mollie/pull/69

[2022-03-13 11:25] ciungulete commented on #65
Can u check it [here](https://github.com/mollie/laravel-cashier-mollie/pull/69)

[2022-03-14 10:16] turpoint opened #70 "Empty mandate"
After a successful payment, the mollie_customer_id gets filled in, but mollie_mandate_id is empty. Did anyone have this issue already? There have been 6 other first payments where the mollie_mandate_id is correctly set. It has been paid with the Belfius Pay Button.

In the logs I see a "Laravel\Cashier\Exceptions\InvalidMandateException: Invalid customer mandate" was thrown. I've fetched details a

[2022-03-14 11:58] ixperiencenl opened #71 "How to get only the redirect URL so it is usable in SPA?"
Thanks for this wonderful package. I was wondering if it is possible to return only the redirect URL to Mollie after a first payment made, instead of a RedirectToCheckoutResponse which also includes a full HTML code.

This, because I am using a Vue frontend and I want to put a redirect message before sending customer 'abroad'.

Thanks a lot.

[2022-03-14 12:40] #71 closed

[2022-03-14 12:45] ixperiencenl commented on #71
Perfect, just tested and it works. thanks Sander! I couldn't find this in the documentation however (although it's in the code of course). Maybe handy to add.

[2022-03-14 12:48] sandervanhooft opened #72 "Add SPA documentation"
Add some details and examples on how to use Cashier Mollie with a SPA. I.e. #71

[2022-03-14 12:49] sandervanhooft commented on #71
Good thinking! I've added a ticket to remind me here: #72

[2022-03-22 09:16] #65 closed

[2022-03-22 09:17] sandervanhooft commented on #67
Closing this for now, let me know if it should be reopened.

[2022-03-22 09:17] #67 closed

[2022-03-28 11:20] FutyWidget opened #74 "Payment paid handling and canceled subscription not working correctly"
**Situation:**
User has an active subscription. For this, a payment is made in Mollie. It takes a few days for Mollie to process this payment. In the meantime, the user cancels his subscription. The ends_at date is filled in with the end date of the current cycle. The user has an active subscription until the ends_at date. Now Mollie has successfully processed the deposited payment and the webhook

[2022-04-04 16:13] iqfx opened #75 "Event listeners don't get triggered?"
Hello, it is probably me just not understanding even listeners quite right,

But using the test key I can't seem to trigger the event after a succesfull payment.
The webhook does get called and updates the payment status in the database.
For this instance I'm using a onetime charge payment.

My listener looks like this:
[code]
In the example I'm just logging the the event in the log file, but that

[2022-04-05 10:52] sandervanhooft commented on #75
Hi @iqfx ,

Have you tried manually registering the event/listeners? https://laravel.com/docs/9.x/events#manually-registering-events

[2022-04-05 10:54] sandervanhooft commented on #74
Hi @FutyWidget,

Thanks for reporting this! This was introduced along with the retry feature:

- on the first attempt, if it fails, the subscription gets canceled.
- when triggering a retry, the subscription gets restored if the payment succeeds.

[2022-04-07 12:41] ixperiencenl commented on #75
Same here. I registered the eventListener in my EventServiceProvider
`Event::listen(function (OrderPaymentFailed $event) {
            \Log::error(get_class($this) . ': Order payment failed event fired', ['event' => $event]);
            // Mail::to($request->user())->queue(new OrderPaymentFailed($order->number));
        });`

However, the OrderCreated event DOES get fired. Maybe the webhook does

[2022-04-07 14:01] b0wdyy opened #76 "Allow to change payment status of payment"
I'm trying to test recurring payments. I don't see any methods/functions to help me with it. In the [mollie docs ](https://docs.mollie.com/overview/testing) there is documentation on how to do it. _...Instead, a changePaymentState URL is added, which allows you to set the final payment state for these payments._

Is there any implementation of it in this package? Would be nice to see you guys help

[2022-04-07 17:11] Albion99 opened #77 "Cashier run gives error (V1)"
Hello I have some problems with running cashier run. The error I get when I run this command is as below:
![image](https://user-images.githubusercontent.com/32699589/162258421-49d05d7d-018a-4276-9cca-79fed1d4601c.png)
I have made my own database repository for the custom plans, but I don't know if this is the cause of the cashier run comannd failure:
[code]
Something else I have looked at is the w

[2022-04-07 17:12] iqfx commented on #75
I tried this, but this made no difference unfortunately.

[2022-04-11 07:00] sandervanhooft commented on #75
Let me see if I can reproduce this issue and get back to you.

[2022-04-13 14:41] ixperiencenl opened #78 "First time payment charges the plan amount instead of first payment amount"
hi guys,

thanks for this wonderful package. Works almost fine on my project.

I am having an issue regarding the first payment.

I am using a custom model for the Plan, as described in your documentation. My Plan model is as follows:

`<?php

namespace App\Models;

use Laravel\Cashier\Plan\Plan as CashierPlan;
use Illuminate\Database\Eloquent\Model;

class Plan extends Model
{
    /**
     * The

[2022-04-13 14:49] ixperiencenl commented on #77
As far as I know the models should be using an id on `first()` and `findOrFail()` instead of the name. If the related code uses this model internally with an id, it will throw errors. Did you try to remove your custom methods? I am also using a custom Plan model which works just fine (except for another issue).

[2022-04-15 07:29] sandervanhooft commented on #78
This is by design. The first-payment-amount is only used to determine the minimum amount to use when obtaining a mandate. Typically when you start the subscription with a trial period.

If the subscription is started normally, it just charges the normal subscription amount.

[2022-04-15 07:29] #78 closed

[2022-04-15 07:31] sandervanhooft commented on #77
Seems like the order item preprocessors are not retrieved/configured properly on your custom implementation.

[2022-04-15 07:31] #77 closed

[2022-04-15 07:34] sandervanhooft commented on #76
If you have a Cashier Payment model you can obtain the original Mollie Payment object' links like this:

[code]

If I remember correctly there is also a helper method on the Mollie Payment object to retrieve the url you're looking for.

Hope that helps, enjoy!

[2022-04-15 07:34] #76 closed

[2022-04-15 07:44] sandervanhooft commented on #75
We've looked into this on our end and I think the difference between First Payment events and Mandated Payment events could be the cause here. On this point the docs could use some improvement. And perhaps in v3 we could improve some naming (not entirely sure yet).

Simply put the events for first payments differ a bit from those for the mandated payments. This is a design consideration because th

[2022-04-19 11:08] ixperiencenl commented on #78
I understand this.
But then what I don't understand is that when the queue is run, it makes a new payment right after the first one.
So my customer pays 2 times EUR 75 instead of one time for the first month.
How come?

[2022-04-19 11:59] sandervanhooft commented on #78
Can you share an example set of db records to illustrate this?

[2022-04-19 12:10] ixperiencenl commented on #78
Yes.
I have just made a test payment with a new account (and new email address).
It creates a new db Order row:
![image](https://user-images.githubusercontent.com/9009015/163999684-8781f547-5073-45a4-b62d-bd44ff76a512.png)
Which is fine of course.

Now I run `php artisan cashier:run` and it says `Created 1 orders` - it created another record in Orders:
![image](https://user-images.githubuserconten

[2022-04-19 13:11] sandervanhooft commented on #78
That could indeed be the issue

[2022-04-25 14:26] turpoint opened #79 "Changing plans within trial period"
I create subscription for teams using the following code. This gives them a one month trial period (for 1 EUR).

[code]

To change / swap subscriptions, I use the following:

[code]

The problem is the following. Let's say the user starts a trial subscription on the "Bronze" plan, which should last him 1 month. If he upgrades to silver even weeks before his trial ends, he gets charged the full amo

[2022-04-26 10:06] sandervanhooft commented on #79
Two things at play here:

- the trial gets canceled when the customer swaps to a different plan. That is by design. Alternatively, consider using a generic trial ([docs](https://www.cashiermollie.com/03-trials.html#without-mandate-upfront))

- swapping between non-trial plans results in a full charge for the new plan, plus a reimbursement for the amount overcharged for the previous plan. Feel free

[2022-04-26 10:06] #79 closed

[2022-04-26 14:18] #75 closed

[2022-04-26 14:18] #74 closed

[2022-04-27 08:35] bertpareyn opened #80 "Reimburse cost of previous plan when changing to different plan within a few minutes gives 0 reimbursement"
Scenario: Subscribe to Plan A for 10 euro and change to Plan B for 20 euro within a few minutes

Expected outcome: Plan B is started and the user is charged 10 euros (Plan B 20 euro - Plan A 10 euro === 10 euro to upgrade to Plan B)

Actual outcome: Plan B is started and the user is charged 20 euros (No reimbursement for Plan A given)

What we think the issue is:

Consider the following code https

[2022-04-27 09:19] bertpareyn opened #81 "Reimburse cost of previous plan with multiple seats multiplies the total amount of the previous order with the amount of seats"
Scenario: Swap current 10 euro 2-seat plan A to new 20 euro 2-seat plan B

Expected: When swapping from plan A to plan B we expect the charge to be 20 * 2 - 10 * 2 === 20 euro

Actual outcome: When swapping from plan A to plan B we see the following calculation: 20 * 2 - 20 * 2 === 0 euro

What happens is that the total price of the previous plan (20 euro because 2 seats) is used as the base price

[2022-04-28 11:51] turpoint opened #82 "Variable first payment amount"
Is there a way we could change the first payment amount when we start a subscription with a trial (mandate upfront)?

I know there were some open issues about this in the V1 repo, but I couldn't really find any documentation about this, or an example on how to use the `FirstPaymentBuilder` manually.

[2022-04-29 13:38] sandervanhooft commented on #82
Hi!

Let me try to understand your use case. With `mandate upfront`, do you mean you already have a mandate for the billable model?

[2022-04-29 15:50] turpoint commented on #82
Hi :)

No, not really. I was referencing the [documentation](https://www.cashiermollie.com/03-trials.html#with-mandate-upfront).

It's the first payment (that starts the trial) that we would want to be variable.

[2022-04-29 19:04] sandervanhooft commented on #82
It's possible to override the first payment amount per plan in the plan config. Would that help you?

[2022-05-03 06:46] turpoint commented on #82
@sandervanhooft Thank you, for this use case the first payment per plan in the config worked fine :) I've just created a couple of extra plans.

[2022-05-03 09:06] tobischulz opened #83 "Wrong Tax calculation with coupon"
## Taxes will be calculated on total amount of OrderItems without removing coupon amount

The Order `tax` and `total` is wrong when starting a new subscription with a coupon. The tax amount is calculated for the full amount of all OrderItems but without to remove the coupon amount. So the tax and the order total is wrong.

## How to reproduce

- create a coupon with any amount (10€ as example)
- c

[2022-05-03 10:22] sandervanhooft commented on #82
Great, enjoy!

[2022-05-03 10:23] #82 closed

[2022-05-05 10:20] tobischulz opened #84 "Method Laravel\Cashier\Order\OrderItemCollection::getCurrency does not exist."
# Problem

Swapping plan on active subscription which used a coupon on subscription create, the restartCycleModifications reimbuseUnusedTime calls a not existing method `getCurrency` on the `OrderItemCollection`. With this exception the customer is unable to ever change his subscription.

# How to reproduce
A customer has subscribed with a coupon. The customer decides to swap his plan.

- create s

[2022-05-05 12:02] sandervanhooft commented on #84
Thanks for the extensive report @tobischulz ! Working on a patch right away.

Note that the `total` field does exist as a dynamic attribute (on `OrderItem`)

[2022-05-05 12:14] sandervanhooft commented on #84
All good now. https://github.com/mollie/laravel-cashier-mollie/releases/tag/v2.3.3

Thanks @tobischulz !

[2022-05-05 12:14] #84 closed

[2022-05-05 12:28] sandervanhooft commented on #83
Hi @tobischulz

At first glance, to me it seems like the invoice template you're using is causing the confusion. The calculations that appear to be happening here are (pseudocode):

[code]

The tax behaviour of the coupons depend on how the coupon is implemented or configured. In case of the fixed discount coupons that are provided out of the box, the tax percentage is 0 or equal to the tax percen

[2022-05-05 13:04] tobischulz commented on #84
Thank you @sandervanhooft !! 🫶

[2022-05-06 06:15] tobischulz commented on #83
Hi @sandervanhooft

its not only the invoice that is wrong, the order itself has the wrong calculated total that will send to mollie as well. Im using the default FixedDiscountHandler but the Coupon Tax is always 0, but all items have 19% as tax percentage. So taxPercentage does not work for me like it should.

The coupon is inside the cashier_coupons.php config file:

![CleanShot 2022-05-06 at 08

[2022-05-06 06:59] tobischulz commented on #83
I´ve tested it out. If i override the `taxPercentage` method on the default `FixedDiscountHandler` to return a hardcoded `19`, the calculation is correct and the coupon has `19 tax` inside the database! 🎉

![CleanShot 2022-05-06 at 08 51 23](https://user-images.githubusercontent.com/576014/167081501-c242ace3-56ca-4842-a42f-0c77361859ef.jpg)

![CleanShot 2022-05-06 at 08 50 02](https://user-images.

[2022-05-06 15:58] KumaVolt opened #87 "Missing cycle duration for a new subscription in an invoice"
Creating a new subscription results in an invoice without the cycle being noted.

Debugging the code i found that it runs createProcessedFromItems function which runs the $process_items always set at false, (src/Order/Order.php at line 151) . Hence the reason why description_extra_lines for order_item is never set and why the cycle is missing from the invoice.

[2022-05-10 13:12] sandervanhooft commented on #83
Hi @tobischulz,

Glad you found a workaround. You should be able to set `no_tax` on the coupons' context here though:

https://github.com/mollie/laravel-cashier-mollie/blob/78dec96e9f79809c2931f98c8a0a6ca3aababf5e/config/cashier_coupons.php#L39-L48

[2022-05-11 08:01] tobischulz commented on #83
Thank you @sandervanhooft ,

i did tried it with the global context array in the cashier_coupons.php but that didn´t worked. Will test it with the coupon context array ☺️

Thank you for your time and work!

[2022-05-11 08:15] sandervanhooft commented on #83
NP, enjoy!

[2022-05-17 13:41] Joezoefhalihoza opened #88 "Payment via newSubscriptionViaMollieCheckout when registering through Fortify"
In our application we want to redirect to Mollie to create an subscription after the user has redirected. When using the  ``` Features::emailVerification() ``` option from Fortify the request needs to implement the interface Authenticatable, but when redirecting to Mollie it creates a RedirectToCheckoutResponse resulting in the following error.
``` Argument 1 passed to Illuminate\Auth\SessionGuard

[2022-05-19 10:30] sandervanhooft commented on #88
Hi @Joezoefhalihoza ,

Can you share some example code to reproduce this issue?

[2022-05-19 11:57] Joezoefhalihoza commented on #88
@sandervanhooft
[code]

[2022-05-19 13:14] #88 closed

[2022-05-27 14:08] KumaVolt opened #89 "Unitprice precision incorrect due ommited numbers in one-time charges"
An incorrect amount is shown in some edge cases when checking out.

For example
A product is €1.00 with 21% tax. Without the tax this will results 0,8264462809917355. When applying the required formula * 100 for cashier results in 82,64462809917355. Adding this result in ChargeItemBuilder will ommit every number after the comma resulting in the price €0,99 when checking out.

Is there a reason why

[2022-05-27 16:05] dib258 opened #90 "Is the back button from the Mollie checkout customizable"
Hi,

Is there a way to configure the back button from the Mollie checkout ?

I tried setting the `first_payment.redirect_url` in the `config/cashier.php` to a custom page `mywebsite.com/test`

And when clickin on the `‹ Previous website` link from the Mollie checkout, it redirects me to that page. Same if I complete the payment.

Is there a way to configure a different url when click on that back

[2022-05-30 07:31] sandervanhooft commented on #89
Hi @KumaVolt ,

Can you share a code sample so we can reproduce this issue?

Note that cashier mollie performs all calculations locally.

[2022-05-30 07:36] sandervanhooft commented on #90
Hi,

Mollie supports only one redirectUrl, whatever the payment state is.

Best practice is to grab the payment status from the Mollie API in your controller and proceed from there.

[code]

[2022-05-30 08:49] bertpareyn opened #91 "When amount to pay exceeds payment method max allowed amount the Order fails silently"
Variable: The payment method limit. e.g., Credit Cards default to a 2k limit.

Scenario:
- Start and pay for a new subscription for a total charged amount that is less than the limit e.g. 100 euros.
- Adjust the subscription so that the total charged amount for the next cycle will be more than the allowed amount for the payment method. e.g., 2.5k on the credit card with a limit of 2k.
- Finish the

[2022-05-31 10:31] sandervanhooft commented on #91
Hi @bertpareyn !

Thank you for the detailed report. That's an interesting case, I haven't encountered this one before.

Touching a few points here:

1. the payment maximum limit was hit. I'd advice to contact Mollie support to increase it if that makes sense for your use case. OR consider decreasing the billing interval, thereby practically lowering the amount being charged each time.
2. Cashier

[2022-05-31 15:55] KumaVolt commented on #89
[code]

I made a demo repository for this as wel.
https://github.com/KumaVolt/mollieissue

[2022-05-31 20:56] ArondeParon commented on #17
@sandervanhooft  Sorry to bump this old issue, but do I understand correctly that you are saying that when using a test key, unvalidated payment methods that are active in Mollie should work? Because I am trying this right now and this does not seem to the case. Am I overlooking something?

[2022-06-01 07:54] ArondeParon commented on #17
@sandervanhooft yep! They are still pending acceptance, but I'd presume that would not be required for testing.

[2022-06-01 08:22] sandervanhooft commented on #17
Can you share a code sample to reproduce the issue?

[2022-06-05 13:58] pecuchet opened #92 "Bank transfer as payment method"
Hello @sandervanhooft and others, quick question: is it possible to use Mollie's bank transfer payment method with the package? And if so, how does it work when the subscription is to be renewed? I see `dueDate` and `billingEmail` properties in `Mollie\Api\Resources\Payment`, but not much else...

(It doesn't seem possible to test the bank transfer method in Mollie's dev mode.)

[2022-06-06 14:24] JessedeB opened #93 "Recurring payment check"
I want to test when a client gets a new order, how the order is being processed with iDeal and if the payment has succeed since the recurring date is set 2 days later.

Also how is the first time payment amount being processed? There's no data on the order and it's not being calculated within the price.

[2022-06-06 17:50] sandervanhooft commented on #93
What have you tried so far?

[2022-06-08 07:09] sandervanhooft commented on #92
Hi @pecuchet

Not sure what you mean but let me try to clear it up.

This package works by obtaining a payment mandate through Mollie's checkout and then schedules/triggers mandated payments when these are due.

Only payment methods eligible for "first payments" can be used in that checkout to obtain the mandate.

Except for creditcard and PayPal, all other eligible payment methods will result in

[2022-06-08 07:28] pecuchet commented on #92
Hi @sandervanhooft,
Indeed I meant a manual bank transfer, like SEPA, and wondered if it is eligible as a first payment method. If I understand your last paragraph correctly, it's not out of the box with your package. So if I want to support it, I have to implement a custom first payment flow for that method?

[2022-06-08 07:37] sandervanhooft commented on #92
You can collect the data using your own form and create the mandate through Mollie's API, without the customer having to go through Mollie's checkout.

Something like:

[code]

See https://docs.mollie.com/reference/v2/mandates-api/create-mandate for the actual payload contents and more.

[2022-06-08 11:17] pecuchet commented on #92
Ok, thanks @sandervanhooft !

[2022-06-08 11:17] #92 closed

[2022-06-08 11:25] sandervanhooft commented on #92
No problem, enjoy!

[2022-06-08 19:39] JessedeB commented on #93
Hello, the test has been succeed which was caused due a wrong set listener. Though, i've not succeed in adding an additional order_item to an order ( connection fee ), is there a way to extend the Order class or add an array to the config since the fee is a fixed value so that on the first payment a second rule is applied to the order?

[2022-06-08 19:45] sandervanhooft commented on #93
A) Consider using a Charge for the first payment, which allows you to set any order items you like, and will result in a mandate if there is not any. Optionally force the customer through Mollie's checkout to always obtain a new one.

- Or -

B) Look into manually using the FirstPaymentBuilder.

[2022-06-10 08:31] KumaVolt commented on #89
@sandervanhooft Did you had the time to look into this yet?

[2022-06-10 08:41] turpoint commented on #70
FYI: It looks like this happens every time with the Belfius Pay Button.

[2022-06-13 09:26] ciungulete commented on #50
https://github.com/mollie/laravel-cashier-mollie/pull/95

[2022-06-13 09:27] ciungulete commented on #70
https://github.com/mollie/laravel-cashier-mollie/pull/94

[2022-06-13 09:59] jessedewild opened #96 "Redeemed coupon not added to recurring subscription"
The first redeemed coupon does work, but after that the new redeemed coupons (which are all the same coupon) is not added to the recurring payment of a subscription.

[2022-06-13 10:38] sandervanhooft commented on #50
This will be available on next release. Thanks @ciungulete !

[2022-06-13 10:38] #50 closed

[2022-06-13 10:45] sandervanhooft commented on #96
Hi @jessedewild ,

Thanks for reporting. Can you share a code sample so we can reproduce the issue here?

[2022-06-13 10:54] jessedewild commented on #96
Hi @sandervanhooft ,

I have a custom model which is called _AppliedPlanCoupon_. This model contains the user, and the coupon.
Every day, a command is scheduled to redeem all the coupons from every _AppliedPlanCoupon_ model.
<img width="642" alt="Screenshot 2022-06-13 at 12 52 14" src="https://user-images.githubusercontent.com/47555794/173338485-2454c3fb-8aac-4767-b799-bd7115958eae.png">

When che

[2022-06-13 13:39] KumaVolt commented on #89
On further inspection i found an open pull request in the [moneyphp/money](https://github.com/moneyphp/money/issues/7) library which addresses the issues i am currently facing with calculating the precision in this library.

[2022-06-20 07:11] jessedewild commented on #96
Hello @sandervanhooft ,
I was wondering if you got any feedback on this issue.

With kind regards,
Jesse

[2022-06-20 14:40] sandervanhooft commented on #96
A coupon can be redeemed (RedeemedCoupon) only once for each Billable's Subscription. There's a rule there to check for uniqueness. It then gets applied (AppliedCoupon) `1...n` times when the billing cycle renews.

[2022-06-20 14:40] #93 closed

[2022-06-20 15:48] byoan opened #97 "Differentiate actual one-time charges from a mandate update transaction"
Hi,

I'm currently in the process of migrating a project from Cashier Mollie v1 to v2, and I'm having trouble differentiating an actual one-time charge that I create using the `newCharge` method on my Billable model, and a one-time charge that's created by the package when updating a mandate through `updatePaymentMethod`.

The reason I have to differentiate them is because I'm using an event liste

[2022-06-22 10:23] jessedewild commented on #96
@sandervanhooft Is there a way to apply a coupon forever to a user?

[2022-06-25 10:36] ciungulete commented on #80
https://github.com/mollie/laravel-cashier-mollie/pull/98

[2022-06-25 10:59] ciungulete commented on #81
I reproduced the above problem and the solution is to use quantity 1 for reimbursement to keep the correct value.
[code]
And for this one need to fix #80 first. I push all changes in #98

[2022-06-25 12:16] ciungulete commented on #87
Solved here https://github.com/mollie/laravel-cashier-mollie/pull/99

[2022-06-27 09:20] #80 closed

[2022-06-27 09:20] #81 closed

[2022-06-27 14:21] sandervanhooft commented on #70
Solved and released!

[2022-06-27 14:21] #70 closed

[2022-06-27 14:21] sandervanhooft commented on #70
Thanks @ciungulete !

[2022-06-27 14:35] #97 closed

[2022-06-27 17:14] byoan commented on #97
Hi @sandervanhooft,

I am talking about v2 (I was just mentioning that I am upgrading an existing project)

I am having this issue using the new one time charges features from v2.

[2022-06-27 19:51] sandervanhooft commented on #97
So do I understand correctly that you are looking for a way to distinguish between the following?

1. generated by a one time charge
2. generated by a payment method update

Also, are you trying to distinguish by Event type, or on the Order model, or on the Payment model, or something else? I am trying to get the picture here 😄

[2022-06-27 21:22] byoan commented on #97
Yes, I am trying to distinguish both of these cases when handling an event such as an order being paid (as both these cases would trigger the event), so either on the Event or the Order/OrderItem models

Maybe having a dedicated `orderable_type` on the OrderItem that represents a one-time charge? So a mandate update order item would be left with a null value as we did not order anything in particu

[2022-06-29 10:16] marnick-s opened #101 "Negative amount due to coupon not working"
When I try to subscribe to one of my plans (€12 p/m) without applying a coupon, everything works fine. When I try to add a coupon with a value of €30.00, I get this error:
`Error executing API call (422: Unprocessable Entity): The amount is lower than the minimum.`

allow_surplus is set to true, so Cashier should add €18 to the customer's balance (as far as I understand).

`$result = auth()->user(

[2022-07-18 07:25] wimski opened #103 "Release with dompdf/dompdf:^2.0"
Can you please roll out a release with a dependency update for `dompdf/dompdf`? This is concerning the following vulnerability:

https://github.com/advisories/GHSA-pf6p-25r2-fx45

I see that the version is already updated in `composer.json`. It just needs a release.

[2022-07-18 08:15] sandervanhooft commented on #103
Just released, as scheduled.

[2022-07-18 08:15] #103 closed

[2022-07-21 18:14] Jacobtims opened #104 "Call to undefined method App\Models\User::getInvoiceInformation()"
Hello,

When I try to download a invoice I get the following error:
`Call to undefined method App\Models\User::getInvoiceInformation()`
(Stack trace: https://flareapp.io/share/W7zV4R27#F54)

Code for downloading invoice:
[code]

I have included the `Laravel\Cashier\Billable` trait in my User model.
I hope someone can help me with this.

Best regards,
Jacob

[2022-07-22 13:06] sandervanhooft commented on #104
Hi @Jacobtims,

Can you double check that you have followed the installation guide?

https://www.cashiermollie.com/01-installation.html#setup

[2022-07-22 13:18] Jacobtims commented on #104
Yes, I just did it again and it's still gives me the same error

[2022-07-22 13:30] ciungulete commented on #104
Hi @Jacobtims!
You add this 👇 in the billable model?
[code]

[2022-07-22 13:33] Jacobtims commented on #104
Wow, that was the problem.
Thx! 👍

[2022-07-22 13:35] #104 closed

[2022-07-23 10:12] ciungulete commented on #87
This can be closed, it's solved.

[2022-07-23 10:12] ciungulete commented on #91
This can be closed, it's solved.

[2022-07-23 11:45] #91 closed

[2022-07-25 12:42] WhereIsLucas opened #107 "User is redirected to payment page if amount is zero and I get charged by Mollie for a 0€ payment, is this normal behaviour ?"
Hi,

Thanks for this package!

I'm giving 100% discount codes for some of my users so they can get free access to the subscription part of my app, but they are redirected to the payment page and they have to add a card, which I want to avoid if possible.

Moreover, I'm charged by Mollie for the 0€ transaction which is quite annoying for me.

Is this normal/wanted behaviour ? Is there any other way

[2022-07-26 12:08] sandervanhooft commented on #107
Hi @WhereIsLucas ,

Free subscriptions are not supported by Cashier Mollie and should be handled outside the package.

Some pointers to handle your use case:

- handle the free subscription coupons using your own logic, pass cashier coupons on to cashier.
- apply a [generic trial](https://www.cashiermollie.com/03-trials.html#without-mandate-upfront) with an end date far far away if you want to use

[2022-07-26 12:08] #107 closed

[2022-07-26 12:12] WhereIsLucas commented on #107
Alright, thanks for your answer.
I'll follow the pointers you mentionned.

[2022-07-28 11:31] sandervanhooft commented on #87
Thanks @ciungulete !

[2022-07-28 11:31] #87 closed

[2022-07-28 11:34] sandervanhooft commented on #101
Hi @marnick-s,

The `allow_surplus` only relates to mandated payments, without going through Mollie's checkout.

[2022-07-28 11:34] #101 closed

[2022-07-29 11:01] jasimjuwel opened #108 "Argument 1 passed to mollie_object_to_money() must be an object, null given,"
TypeError
  Argument 1 passed to mollie_object_to_money() must be an object, null given, called in /vendor/mollie/laravel-cashier mollie/src/Mollie/GetMollieMethodMaximumAmount.php on line 17

at vendor/mollie/laravel-cashier-mollie/src/Helpers/helpers.php:94

**Getting this error when runnign cashier:run command in php 7.4, Laravel 8 and Mollie version 2.4.2**

[2022-08-01 13:37] sandervanhooft commented on #108
Hi @jasimjuwel ,

Thanks for reporting this.

Can you share the order items (db rows) that are not getting processed? Please redact them if there's any sensitive data.

cc @ciungulete

[2022-08-01 13:44] sandervanhooft commented on #89
Hi @KumaVolt,

We have this on the radar, but since it's an edge case / related to MoneyPHP it's not high on the backlog. I am happy to accept a PR if you see a way to fix this sooner.

[2022-08-01 19:36] RosiersRobin opened #109 "[Question] How to process refunds?"
Hi,

I se how I can make refunds, but how can I make them process? It's in the webhook I guess, but there is no example on how to do this. Would it be to fetch te order, check if there are refunds and if so, just call the `handleProcessed()` on the Refund model?

[2022-08-01 19:44] #109 closed

[2022-08-01 20:04] RosiersRobin commented on #109
Sorry, I know that mollie takes oooon test environments around 2 hours to get processed by their system. However, I aimed to know how I can see the changes in my application. Since I don't see those appearing...

[2022-08-01 20:23] sandervanhooft commented on #109
Can you share a code sample so we can reproduce the issue?

[2022-08-02 09:12] RosiersRobin commented on #109
So I have made a refund with;

[code]

That makes the refund in mollie. So that's good already.

This also makes table values in the refunds table;

![image](https://user-images.githubusercontent.com/5263188/182338147-86d5909c-6a70-46cf-8ea5-d99002333a40.png)

And also in the refund_items table, so that's okay.

Now, the status will never change, since there is never an update when it's been proce

[2022-08-02 09:24] sandervanhooft commented on #109
Hi @RosiersRobin ,

I am not sure why you have implemented your own controller for this as everything is already handled by Cashier for you...

But essentially the refunds are handled by the AftercareWebhookController.

Also note that - if I remember correctly - Mollie refunds receive no status updates in test mode. So there's no webhook request from Mollie after refund creation

[2022-08-02 15:24] jasimjuwel commented on #108
Hi sandervanhooft,
I have added the rows of order items table,

`(1, '2022-06-30 06:38:49', 'Laravel\\Cashier\\Subscription', 1, 'App\\User', 132, '1 Monatew Laufzeit', '[\"From 2024-08-27 to 2024-09-27\"]', 'EUR', 1, 2490, 0.0000, 72, '2022-05-17 06:38:49', '2022-08-01 15:03:46'),`

[2022-08-02 16:13] sandervanhooft commented on #108
Thanks!

1. Are there any Mollie related exceptions in your log?

1. If available, can you share the full exception trace, i.e. through Laravel Flare?

[2022-08-03 16:44] RosiersRobin commented on #109
Hi @sandervanhooft

The reason why I made my own callbacks and such, is because I don't have users to do payments. For example, you can create a registration in the system, with catering attached to that, but that isn't connected to a user. the order is then connected to the registration... Which is not really possible, or am I wrong?

[2022-08-05 10:44] RosiersRobin commented on #109
@sandervanhooft hi,

I have tried to change all the self-written code to the implementation of the package, however, when I test all of this, I always get a 404 on the first-pament webhook url (`/webhooks/mollie/first-payment`).

An order gets never made, even after triggering all the webhooks myself (since it's local development).

`cashier:run` also doesn't make any kind of orders. I followed th

[2022-08-07 21:31] ciungulete commented on #108
Thanks @jasim-cierra for details. I fix it in https://github.com/mollie/laravel-cashier-mollie/pull/110. For some payment methods, like PayPal, Mollie don't have a maximum amount.

Ping @sandervanhooft

[2022-08-08 09:37] sandervanhooft commented on #109
Can you find the webhook using `php artisan route:list`?

[2022-08-08 14:48] sandervanhooft commented on #108
Thanks @ciungulete @jasimjuwel @jasim-cierra !

I've just released the patch.

[2022-08-08 14:48] #108 closed

[2022-08-11 10:54] tobischulz opened #111 "Wrong date for next subscription cycle."
We have switched from `cashier_plans.php` to our own database plan table. Since then the cycle date calculation is very strange.

Before we had monthly (**1 month**) cycles that looked like this in the subscription and order_items table:

[code]

Right now we have something like this:

[code]

This is our Plan-Model with the interval attribute method.

![CleanShot 2022-08-11 at 12 49 24](https://u

[2022-08-11 11:08] tobischulz commented on #111
Is it possible that it is the `trial_ends_at` timestamp? As far as i can see uses the `startOfTheSubscription` the end date of trial to calculate the next possible cycle end date.

![CleanShot 2022-08-11 at 13 04 35](https://user-images.githubusercontent.com/576014/184119895-bafa8aba-466a-49e1-95b8-6db40077e9ae.jpg)

![CleanShot 2022-08-11 at 13 04 26](https://user-images.githubusercontent.com/576

[2022-08-11 11:10] sandervanhooft commented on #111
Hi @tobischulz ,

Thanks for the extensive report. @ciungulete can you figure out what happened here?

[2022-08-11 13:56] siegerhansma opened #112 "Retrying failed payment doesn't update cycle_ends_at on subscription"
Retrying failed payment  doesn't update cycle_ends_at on subscription when the payment succeeds.

Reproduction steps:

1. Let Cashier create a payment for a new subscription cycle.
2. Set the payment status to failed. The subscription_ends_at now has a date and the cycle_ends_at is now null.
3. Retry the same payment and now set the payment status to paid.

subscriptions_ends_at is now null again,

[2022-08-11 14:09] sandervanhooft commented on #112
Hi @siegerhansma ,

Thank you for reporting.

Can you share a code sample so we can reproduce the issue?

[2022-08-11 14:28] siegerhansma commented on #112
Hey Sander,

It's a bit difficult in this case, because of the manual steps you need to take on the Mollie side in test mode (setting the payment status). I have included reproduction steps in the issue description. Please let me know if you need any more information or if something is unclear.

[2022-08-15 09:05] sandervanhooft commented on #112
Hi @siegerhansma ,

Ok, let me double check that I am getting this right because there's a lot happening here:

1. Your billable model is on an active subscription.
2. When running `cashier:run`, a mandated payment is attempted at Mollie.
3. Using the Mollie API, you have manually set this payment status as `failed`.
4. Mollie was able to call your application using your webhook (you can check thi

[2022-08-15 09:51] siegerhansma commented on #112
@sandervanhooft Yep, that's correct. Thanks for the quick summary!

[2022-08-15 10:54] sandervanhooft commented on #112
This here seems to be the culprit:

https://github.com/mollie/laravel-cashier-mollie/blob/d8d5ba12ee0356eb8e66b3a11cd0072940e2af09/src/Subscription.php#L560-L575

[2022-08-15 10:54] sandervanhooft commented on #112
@ciungulete can you pick this one up?

[2022-08-16 05:22] Master-Minder commented on #89
@sandervanhooft It's not an edge case, we noticed a similar issue and it has nothing to do with MoneyPHP but your helper on line 34 force typecasting every value to integer and thereby hiding the error which the built in MoneyPHP type checking would otherwise throw if you give it something which is not an integer. And how can a servious rounding issue be an edge case in the first place for a payme

[2022-08-16 05:31] Master-Minder opened #115 "Hosted Checkout Testing without prefilled values"
With the current checkout implementation in test mode there is no way to fill in actual data e.g. credit card or bank details, but everything come prefilled. This should be definatly an available feature, to test the checkout flow in different scenarios like timed out 3DS, typos in bank details and similar user errors.
For propper testing before going live this is a must have feature.

[2022-08-16 09:13] sandervanhooft commented on #115
Hi @Master-Minder ,

Thanks for your input. This is however not a feature of this package; Mollie takes care of all of this in their hosted checkout. From there, the payment either succeeds, fails or gets cancelled. The customer then gets redirected back to the redirectUrl provided by Cashier.

[2022-08-16 09:13] #115 closed

[2022-08-16 09:30] sandervanhooft commented on #89
@Master-Minder as mentioned, I am happy to accept a PR.

[2022-08-16 10:28] RemiHin opened #116 "Canceling Subscription endsAt must be type \Carbon\Carbon, null given"
Hi,

When i cancel my subscription
```$subscription->cancel()```

i get the following error:
[code]

I don't do trials, and my cycle_ends_at is filled.
[code]

Strangest thing is, despite the error, the subscription is canceled as it should be.

Any clue on if im doing something wrong? Or is this a bug?

[2022-08-16 11:14] #116 closed

[2022-08-16 11:17] RemiHin commented on #116
Somehow Flare gave the wrong error.
Turns out that the next actions that was performed (sending an email confirming the cancellation) errored out because of missing env variables. Flare just said "here is where it went wrong" and pointed to cashier. But thats not where it went wrong.

[2022-08-16 11:25] sandervanhooft commented on #116
Thank you for clearing that up @RemiHin !

Enjoy!

[2022-08-16 20:45] Master-Minder commented on #89
@sandervanhooft I can offer you a PR which is absolutly untested, or just tested for this scenario, or do you expect me to do full regression testing? Since the money() helper is used all over the place in your code and I have no idea if this will impact anywhere else.
With a quick look at some of your automated test scripts I also didn't find any test cases covering the scenario that the value pa

[2022-08-18 03:19] Master-Minder opened #117 "Not possible to create One-time Charges according to Mollie support"
It seems in your code there is no functionallity to create a one-time charge. According to Mollie support where I raised the issue already, the call mentioned in the documentation to Laravel\Cashier\Charge::newCharge() is only resulting in First Payments and Reccurring Payments not in One Off Payments. Which makes it impossible to access payment methods like bank transfer, which are only available

[2022-08-18 03:28] Master-Minder opened #118 "Wrong documentation for refunds"
In the documentation the call for refunds is mentioned as follows:

$shippingCosts = RefundItem::make([
    'owner' => $user,
    'description' => 'Shipping costs',
    'currency' => 'EUR',
    'quantity' => 1,
    'unit_price' => '6.67',
    'tax_percentage' => 21,
]);

While according to the code the make call requieres 'owner_id' and 'owner_type' and that the 'unit_price' get's typcasted to an

[2022-08-19 13:46] divdax commented on #117
Also tried to setup a one time charge: https://www.cashiermollie.com/04-charges.html
My user model has the Laravel\Cashier\Billable trait but when i try to charge the user i get the error `Call to undefined method App\Models\User::newCharge()`

[2022-08-19 15:32] divdax opened #120 "One-Time charge"
I try to implement the one-time charge with code from the documentation: https://www.cashiermollie.com/04-charges.html

[code]
Could you explain what is this for? Is this redirect get called when a payment was successful?
[code]

[2022-08-20 01:03] codebolt-mike commented on #35
@sandervanhooft just a heads-up;

We managed to fix this issue, using one-time charges on upgrades (during trial periods)
(where we charge a user the difference between the $current_plan->first_time_amoiunt vs. $plan->first_time_amoiunt).

For downgrades, we add the difference of the plans as a negative balance of credits.

We might be able to fix this with the ```false``` flag on ->swap() for sen

[2022-08-22 13:51] sandervanhooft commented on #120
Thanks @divdax for bringing this to our attention.

Looks like it's a bug - I've prepared a fix here: #121

To answer your question: After leaving Mollie's checkout (payment success/cancel/failure) the customer is returned to the provided `redirectUrl`. With subscriptions and charges this only happens on the first payment, when no valid payment mandate is present.

[2022-08-22 13:51] #120 closed

[2022-08-22 19:23] divdax commented on #120
Great! Thank you @sandervanhooft for the fix.

[2022-08-22 20:15] divdax opened #122 "One-Time charge: order items orderable_id / model"
It would be great we could set the `orderable` morph relationship for one time charges like so:

[code]

Currently `orderable_id` & `oderable_type` in table `order_items` is always empty.

[2022-08-23 06:18] tobischulz commented on #111
Hello, any updates on this?

[2022-08-23 11:30] sandervanhooft commented on #122
How about this?

[code]

[2022-08-23 11:42] divdax commented on #122
@sandervanhooft yeah... much better! :)

[2022-08-23 11:47] sandervanhooft commented on #122
Would be even cooler to do something like this and fill everything automatically:

[code]

[code]

This would require some additional modifications around handlePaymentFailed/Paid on the orderable model (also see `InteractsWithOrderItems`. 🤔

Need to investigate if this is possible without breaking change.

[2022-08-23 11:52] sandervanhooft commented on #122
For clarity, this would allow you to do stuff like

[code]

[2022-08-23 11:59] divdax commented on #122
This is awesome! 😍

[2022-08-23 12:12] sandervanhooft commented on #122
Thanks @divdax .

This is going to involve several steps, need to be careful to not break any existing installations. First impressions:

1. Add `InteractsWithOrderItems` into the following interfaces and apply as such:
    - `HandlesPaymentStatusUpdates`
    - `ProcessesOrderItem`
    - `PreprocessesOrderItems` (already exists)

1. Add checks to `Order.handlePaymentPaid` etc to check if the `hand

[2022-08-25 22:18] iandk opened #123 "Metadata with subscription"
Hi,

I couldn't find any existing issue mentioning a way to attach metadata to a subscription.
Is there any way to archive this?

I need to save an ID on the subscription object.

[2022-08-26 09:32] sandervanhooft commented on #123
Hi @iandk ,

There is no metadata field, but you could override the subscription model with your own:

https://www.cashiermollie.com/16-configuration.html#custom-models

[2022-08-26 09:32] #123 closed

[2022-08-28 21:01] sitenzo opened #124 "Possible to install next to cashier stripe?"
Hi All,

Is it possible to install this extension in a application where cashier stripe is already installed?
I want to make a base portal where i can choose the payment system (Mollie or Stripe) in the .env

Is this possible, because the both use billable and some other same class names.

Thanks for the response.

[2022-09-01 09:47] sandervanhooft commented on #124
Hi,

This is not possible, this package was designed as a replacement for other cashier packages.

[2022-09-01 09:47] #124 closed

[2022-09-01 09:48] sandervanhooft commented on #118
Hi @Master-Minder ,

Thanks for bringing this to my attention.

Agree on the string being incorrect in this example, fixing that.

Not sure what you mean here. Can you elaborate a bit?

Mollie allows refund amounts to be slightly higher than the original order amount. A typical use case here would be covering the return shipping costs.

Fixed, will be included on next release

[2022-09-01 09:49] sandervanhooft commented on #117
Hi @Master-Minder ,

That's correct. Cashier is designed to leverage Mollie's recurring payment methods only. I'll add a note to the docs to clarify this.

[2022-09-01 09:49] #117 closed

[2022-09-01 09:57] sandervanhooft commented on #117
@Master-Minder also note that it's possible to directly create a bank transfer mandate using Mollie's Mandate API and then use that with this package to trigger the charge / start a subscription etc.

[2022-09-01 09:58] sandervanhooft commented on #117
See #92 for example

[2022-09-01 10:07] #118 closed

[2022-09-01 10:16] sandervanhooft commented on #111
@ciungulete can you reproduce this issue?

[2022-09-01 10:19] #89 closed

[2022-09-01 13:06] tobischulz commented on #111
As far as i can see it is the **trial_ends_at** or the **created_at** timestamps that will be used on every new cycle. But it ignores the **cycle_started_at** and **cycle_ends_at** timestamps which are important cause on a 14 day trial there are not the same day.

We have 14 day trials and monthly subscriptions. On any point, or update of the package the new cycle_ends_at is a totally different da

[2022-09-01 19:45] mano-gilissen opened #129 "No means yes when using cashier:install"
Hello,

When trying to install this package i got stuck for hours on the php artisan cashier:install command. After confirming the install by typing "yes" nothing would happen. After trying every possible solution i then, out of pure frustration (and enormous luck), typed "no" and i was baffled to see this actually worked to install Cashier:

<img width="1111" alt="Screenshot 2022-09-01 at 21 42 3

[2022-09-02 09:43] #129 closed

[2022-09-02 09:45] sandervanhooft commented on #129
Hi @mano-gilissen ,

Ouch, that must have been no fun. We've found the issue and patched it.

I'm somewhat happy to learn that you're the first to actually do this on a production system though.

Releasing the patch in a minute. Thanks for reporting.

[2022-09-03 11:37] LeonBuchner opened #131 "Installment Payments with Mollie"
Hello,
I want to charge a big amount in multiple smaller amounts every month. For example the customer buys a 5000$ product I want to charge him 1000$ every month for 5 months.

I found in the documentation of mollie that there is a "times" parameter for that: https://docs.mollie.com/reference/v2/subscriptions-api/create-subscription

But how can I use it with the laravel package? I found nothing

[2022-09-05 10:41] ruudjuh87 commented on #17
Hello,

I'm having the same issue and I do not see a solution to my problem in this thread.

Like @nipeco I have used the guide of Cashier Mollie to implement the system. Everything is working when using the test apikey from Mollie. As soon as I change this apikey to live, I get the 422 error. My website is accepted by Mollie (green) and also the payments for iDeal and Bancontact are accepted (blu

[2022-09-05 10:45] sandervanhooft commented on #17
Hi @ruudjuh87,

What amount are you trying to charge?

[2022-09-05 10:50] ruudjuh87 commented on #17
@sandervanhooft

Amount is 9.90 ex VAT (9,90 * 1,21 = 11,979)

config/cashier_plans:
[code]

[2022-09-05 10:52] sandervanhooft commented on #131
Hi @LeonBuchner ,

Simply put, `instalments` (or `times`) are not supported.

Cashier Mollie leverages Mollie's payments API instead of the Subscriptions API. I have added "instalments/`times`"  to our idea list for v3, but there's not guarantee or timeline here as I suspect it involves a little more complexity than meets the eye.

[2022-09-05 10:52] #131 closed

[2022-09-05 10:55] sandervanhooft commented on #17
Hi @ruudjuh87,

I suspect this is something account specific. Best to reach out to Mollie support directly.

https://www.mollie.com/en/contact/merchants

[2022-09-05 11:50] ruudjuh87 commented on #17
@sandervanhooft

Thanks for the quick response. Mollie support is saying everything is correct with my account. Website is active and iDeal and Bancontact are active also. They will forward the issue to the tech support team again.

With test_apikey I do see the payment methods, but with live_apikey they cannot be found.
Hope this get resolved soon.

[2022-09-05 11:54] sandervanhooft commented on #17
Hi @ruudjuh87 ,

One thing you could check for each api key:

[code]

This should give you the list of currently enabled payment methods. At least one should be supporting recurring payments for you to not get that exception message.

[2022-09-05 11:58] ruudjuh87 commented on #17
test_api:
[code]

live_
[code]

Payment methods are being found with live_apikey.

[2022-09-06 12:11] divdax commented on #122
Do you think it's possible?

[2022-09-06 13:19] sandervanhooft commented on #122
We have put the first steps towards this on our backlog 🤞

[2022-09-09 10:05] Herrald opened #132 "Other payment statuses than paid and failed"
When using Mollie there are a couple of statuses a payment can have: open, canceled, pending, authorized, expired, failed and paid. But when Mollie calls the Laravel webhook, only two statuses are used. Any status other than PAID or FAILED are simply ignored.

I think this may bring issues regarding subscriptions which are continuing for which is not paid. It might be that I am missing something.

[2022-09-09 10:17] sandervanhooft commented on #132
Hi @Herrald, Can you be more specific on the potential issues you're seeing?

[2022-09-09 10:29] Herrald commented on #132
Thanks for the swift response! In the webhookcontroller which handles the standard webhook, there is the following switch statement:

src/Http/Controllers/WebhookController.php
[code]

This only does something when the status is PAID or FAILED. So, when there is another status than PAID or FAILED it simply does nothing. I.e. when a payment is canceled, there this will not be updated in the databas

[2022-09-09 10:35] sandervanhooft commented on #132
Only first payments, meaning going through Checkout, can get canceled. Only after the first payment gets paid, the subscription starts, so no need to respond to "canceled".

[2022-09-09 10:35] #132 closed

[2022-09-09 10:38] Herrald commented on #132
Ah right, I understand. Thank you very much!

[2022-09-14 17:45] ruudjuh87 commented on #17
@sandervanhooft I did request the banktransfer last week but it has not been approved yet.

But I did get a response from one of the developers from Mollie and he thinks he found the issue, and it probably has to do with the banktransfer like you say. Let me explain (so other people can learn from this too :) )...

Because I want to start a subscription I need a First Payment, in order to allow re

[2022-09-14 19:58] sandervanhooft commented on #17
That makes sense! Thanks for following up, and for the detailed report.

[2022-09-16 19:40] iqfx opened #133 "Update documentation needs updating for custom webhookcontrollers"
Hello,

In the previous version of this library custom webhook controllers were as far as I'm aware a popular way of handling the webhooks. Now in V2 the library handles this for us. Which is great! However since one time charges were not supported in V1 I used this in conjuction with the regular mollie library, hence the need for a custom webhook controller. Now that I want to update the library

[2022-09-21 04:40] JessedeB opened #134 "Add Plan::times attribute"
https://github.com/laravel/cashier-mollie/issues/115

The use case has been asked before, however this question is 3yrs old and I'm not aware of any updates on this so far.

[2022-09-29 08:12] siegerhansma commented on #112
@sandervanhooft  @ciungulete  Any updates on this one?

[2022-10-07 11:23] tobischulz commented on #111
At the moment im not able to reproduce this anymore. It just happens on production as there was a bug that has switched every subscription to yearly that has to be monthly. Maybe its just that bug that leads to this behaviour. So i will close this issue. I will come back to this if this ever happens again. Thanks for your time @sandervanhooft @ciungulete

[2022-10-07 11:23] #111 closed

[2022-10-14 19:36] ciungulete commented on #112
I fix it here #135

[2022-10-19 12:47] fjahn opened #136 "First payments utilizing {payment_id} are rejected by Mollie"
# Summary

Something recently (2-4 days ago) changed on Mollie's side which causes the implementation of the `{payment_id}` placeholder of this library to fail. Currently if applications utilize the `{payment_id}` placeholder provided by this library, **no first payments can be completed**.

# Explanation

Currently, the placeholder is filled by this library using this technique:

1. Submit a requ

[2022-10-20 11:19] sandervanhooft commented on #136
Investigating

[2022-10-20 11:45] sandervanhooft commented on #136
Thanks for the detailed report and bringing this to our attention @fjahn.

I have confirmed the behaviour.

Mollie is fixing this validation issue in their API asap.

I'll see if a patch is required in Cashier.

[2022-10-24 15:02] hjeldin opened #137 "First payment status remain open after failed payment"
Hi,
we're observing on our databases that all non "paid" payments remain open indefinitely.
Webhooks are called correctly and do not fail.

![Screenshot from 2022-10-24 16-59-16](https://user-images.githubusercontent.com/922567/197559232-65394965-4c64-42d2-9d06-217741087d46.png)

We traced the issue to [FirstPaymentWebhookController](https://github.com/mollie/laravel-cashier-mollie/blob/main/src/H

[2022-10-25 07:35] christianschoenmakers opened #138 "Invoice change number formatting"
I wanted to change the number formatting on invoices. Found this issue on Google: https://github.com/laravel/cashier-mollie/issues/186

Instead of creating a custom formatting callback, you can also just change the `currencyLocale` by adding this static function to your Blade file:

[code]

Change `nl_NL` to the desired locale (default is `de_DE`)

[2022-10-25 07:36] #138 closed

[2022-10-25 13:38] sandervanhooft commented on #136
We've shipped a patch in [2.5.3 here](https://github.com/mollie/laravel-cashier-mollie/releases/tag/v2.5.3).

Thanks everyone!

[2022-10-25 13:38] #136 closed

[2022-10-25 13:40] sandervanhooft commented on #137
Indeed, this is by design. It only makes sense to handle mandated failed payments, not first ones.

[2022-10-25 13:40] #137 closed

[2022-10-26 18:33] Xaero commented on #136
Hi @sandervanhooft, we also experience this issue, but are still using the Mollie Cashier 1.0 version in one of our applications. Will there be an update from Mollie regarding the validation? Or is it necessary create a workaround/update to 2.0?

[2022-10-27 08:57] sandervanhooft commented on #136
Thanks for pointing this iut @Xaero. @ciungulete just released a v1 patch.

[2022-10-27 08:57] sandervanhooft commented on #136
https://github.com/mollie/laravel-cashier-mollie/releases/tag/v1.17.1

Thanks @ciungulete !

[2022-10-28 19:24] nicolas-t opened #141 "Custom webhook url is ignored"
Hello,

My custom `aftercare_webhook_url` config is ignored.

I'm using custom webhooks locally.

My `config/cashier.php` is as follows :
[code]
I'm generating a `checkoutUrl` like this :

[code]

After paying; the webhook `POST /webhooks/mollie/first-payment` is called but returns an error 500 :
[code]

It seems that the webhook url used here is incorrect (it ignores my custom domain):
https://gi

[2022-10-31 12:19] ciungulete commented on #141
Hi @nicolas-t,

Can u try next things:
1. remove https://ff70-89-156-98-187.ngrok.io/ from the config file and keep webhooks without full url.
2. In .env file, change the `APP_URL` to https://ff70-89-156-98-187.ngrok.io/ (the accessible app url)
3. Check in the Mollie dashboard, at the payments and look at the payment history in the right column
<img width="358" alt="screenshot 135" src="https://u

[2022-10-31 13:20] nicolas-t commented on #141
Hello,

Thanks for your answer.

In my project I have 2 route domains:
- 1 for api routes (http://api.my-project.local)
- 1 for web routes, where mollie webhooks handler seems to be registered (http://my-project.local or https://ff70-89-156-98-187.ngrok.io)

This time it fails when creating the subscription :
`$authUser->newSubscription('main', 'myProject')->create();`
returns
[code]
In fact here

[2022-10-31 15:15] sandervanhooft commented on #112
Thanks!

[2022-11-03 14:38] sandervanhooft commented on #141
Hi @nicolas-t ,

Thanks for following up.

In order for us to reproduce this issue:

1. Can you share the actual code that triggers the issue? I.e. `$billable->newSubscription()->...->create();`?

2. If it's related to creating subscriptions, can you share your `cashier_plans.php` config file?

[2022-11-03 14:39] sandervanhooft commented on #141
Ah sorry, I misread part of your initial ticket. Skip point 1 above, only point 2 please :)

[2022-11-09 10:34] ixperiencenl opened #143 "Please add a solid example for Coupons from database"
The documentation / implementation for getting plans from the DB is quite straightforward. However, for coupons it's quite a bit different and hard to get around. Can you show a basic custom model that retrieves coupons from the database instead of the config file? Would be of great help.

[2022-11-11 10:36] GuusFuty commented on #112
This is also the solution to this problem: https://github.com/mollie/laravel-cashier-mollie/issues/74

[2022-11-14 10:13] christianschoenmakers opened #144 "Receive order model on first payment"
When a (single charge) order is made, the user selects a billing- and shipping address in checkout.

Both addresses are saved to the Addresses model. The Order model (a custom Model extending the Laravel\Cashier\Order\Order model) has a MorphToMany relation to both adresses with a Pivot value for the type (billing or shipping).

The $charge->create() function returns the Order model when the payme

[2022-11-14 11:04] sandervanhooft commented on #144
Hi @christianschoenmakers ,

That's impossible, the Order is only created after the first payment was successful

[2022-11-14 11:04] sandervanhooft commented on #144
You however could still save the address on the billable model or another dedicated model.

[2022-11-14 12:18] sandervanhooft commented on #143
Hi @ixperiencenl ,

What have you tried so far?

[2022-11-14 12:20] christianschoenmakers commented on #144
@sandervanhooft Thank you for your fast reply and suggestion, will try it.

[2022-11-14 12:20] #144 closed

[2022-11-15 06:53] ixperiencenl commented on #143
I tried making a custom Coupon model. Just as I created a custom Subscription. However, it looks like the coupons are different in structure than the Subscriptions.

My subscription Model:

`namespace App\Models\Cashier;

use Laravel\Cashier\Subscription as CashierSubscription;

class Subscription extends CashierSubscription
{
    protected $table = 'subscriptions';
}
`

Now, I think it's just alm

[2022-11-16 20:04] RemiHin opened #146 "Testing Subscriptions in phpunit"
I'm trying to figure out how to test my subscriptions.

In phpunit i can create a RedirectResponse, but how do i fake a webhook response?
How do i create an active subscription in a test?
Is there any documentation on this? Is it even possible?

any help would be much appreciated.

[2022-11-17 11:28] sandervanhooft commented on #146
Hi @RemiHin ,

That's a lot of questions. What use case you want to cover first?

[2022-11-17 11:29] RemiHin commented on #146
Basically what I need to know:
How do I create an active subscription in my phpunit test.

[2022-11-17 11:37] sandervanhooft commented on #146
This may be a good place to start:

https://github.com/mollie/laravel-cashier-mollie/blob/c17ff02ff5c24ddec128aab218e8da0bec069760/tests/database/factories/SubscriptionFactory.php#L10-L22

[2022-11-17 18:49] RemiHin commented on #146
That was a perfect place to start. Thanks! I got it now

[2022-11-17 19:04] #146 closed